@media(max-width:992px){
    .navbar{
        background-color: white;
    }

    .nav-item .nav-link{
        color: black;
        font-size: 17px;
        font-weight: 600;
    }
    .logo{
        color: black !important;
    }
    .navbar-nav{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}